@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .animate-walk {
    animation: walk 30s ease-in-out alternate infinite;
  }

  .bs-gradient-green {
    animation: changeBackgroundColor 3s ease-in-out alternate infinite;
  }

  .bs-gradient-green:hover {
    animation: changeBackgroundColorHover 3s ease-in-out alternate infinite; 
  }

  .light-green {
    background: radial-gradient(#02F67C -123%, black 100%);
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
  }

  .black-green {
    background: linear-gradient(#02F67C -123%, #113032 100%);
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@keyframes walk {
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(-50%)
  }
}