@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family), sans-serif;
  }

  .argentPixel {
    font-family: 'ArgentPixelCF', var(--font-family), sans-serif;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .animate-walk {
    animation: walk 30s ease-in-out alternate infinite;
  }

  .bs-gradient-green {
    animation: changeBackgroundColor 3s ease-in-out alternate infinite;
  }

  .bs-gradient-green:hover {
    animation: changeBackgroundColorHover 3s ease-in-out alternate infinite; 
  }

  .light-green {
    background: radial-gradient(#02f67c -247%, #000 55%);
    position: absolute;
    z-index: -1;
    width: 71%;
    height: 100%;
  }

  .black-green {
    background: linear-gradient(281deg, #02f67c -116%,#0D1717 41%);
    width: 100%;
    height: 100%;
  }

  .black-off-black {
    background: linear-gradient(45deg, #0B1612 0%,#272D2D 100%);
    width: 100%;
    height: 100%;
  }

  .off-black {
    background-color: rgba(255, 255, 255, 0.05)
  }

  .border-off-black {
    border-color: rgba(255, 255, 255, 0.05)
  }

  .alinhar-ao-lado {
    display: flex;
    gap: 10px;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@keyframes walk {
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(-50%)
  }
}